html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color:#ffff;
    font: normal 16 px Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    
}

.topnav {
    width: 100%;
    height: 55px;
    background-color: #333;
    box-shadow: 0 5px 5px -3px black;
    display: block;
    font-family: 'Raleway', sans-serif;
    padding-right: 99px;
    padding-left: 99px; 

}

.topnav h1 a {
    color: #fff;
    text-decoration: none;

}

.topnav h1 {
    
    float: left;
    margin: 0;
    padding: 5px 0px 0px 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 45px; 
    
}

.topnav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px 20px 0px 0px;
    padding: 0;
}

.topnav li {
    float: right;
}

.topnav nav a {
    
    display: block;
    color: #D1D7E0;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    
  }

 .topnav a:hover {
    color: #111;
  }

  

.artist-img {
    width: 170px;
    height: 170px;
    border-radius: 80%;
    margin: 15px;
    padding: 20px;

}

.artist-info-box {
    width: 240px;
    margin: 30px 0px 30px 20px;
    padding: 20px;
    text-align: center;
    
}

.artist-info-box h2, 
.artist-info-box p,
.artist-info-box p,
.artist-info-box a {
    text-align: center;
    margin: 0px;
    color: #19181A;
}

.artist-info-box h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.artist-info-box p {
    font-family: 'Raleway', sans-serif;
}

.artist-info-box a {
    font-family: 'Merriweather', serif;
}

.artist-info-box {
    padding: 20px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #ffd000;
    width: 300px;
    border-radius: 9px;
}

.artist-info {
    background-image: url('../img/img-box1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    margin: 0 auto;
}


.gallery {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    
}

.gallery__item {
    display: inline-block;
    padding: 10px;
}

.gallery__img {
    height: 250px;
}

 
.footer-info {
    background-color: #504e4b;
    width: 100%;
    height: 100px;
    padding: 20px 99px 0px 99px;
    margin: 0px 0px -10px 0px;
    display: flex; 
}

.footer-info h1 {
    color: #c7c6c5;
    margin: 0px;
    padding:10px 20px 10px 20px;
    font-family: 'Major Mono Display', monospace; 
    text-align: left;
    display: inline-block;
     

}

.footer-info ul {
    list-style: none;
    color: #c7c6c5;
    text-decoration: none;
    padding: 25px 20px 10px 20px;
    display: inline-block;
    margin: 0 auto;
    
     
}

.footer-info li {
   
    color: #c7c6c5;
    font-size: 15px;
    display: inline-block;
        
}

.scroll-to-top {
    text-align: right;
}

.back-to-top {
    color: #555;
    padding: 0px 20px 0px 0px;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    
}

.footer-info a:hover {
    color: #111;
}

.fb-icon {
    padding: 10px 20px 0px 0px;
    margin: 0px 0px -10px 0px;
       
}

.ig-icon {
    padding: 10px 20px 0px 0px;
    margin: 0px 0px -10px 0px;
   
}

.twit-icon {
    padding: 10px 20px 0px 0px;
    margin: 0px 0px -10px 0px;


}


   





.landing .topnav {
    width: 100%;
    height: 650px; 
    display: block;
    box-shadow: none;
    background-image: url('../img/intro-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    
 
}

.landing nav {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  filter: alpha(opacity=40); 
} 

.landing nav, .landing .intro {
    padding-left: 0px;
    padding-right: 0px;
}

.landing .topnav h1 {
    padding-left: 99px;
    margin: 0px;
    line-height: 52px;
    color: #ffff;
    opacity: 1;
}

.landing .topnav a {
    color: #fff; 
    font-size: 25x; 
    font-weight: 900;

}

.landing .topnav a:hover {
    color: #111;
  }

.landing .topnav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding-right: 99px;
    
}

.landing .intro {
    padding-top: 60px;
    margin: 0px;
    display: block;
}

.landing .intro-p1 {
    margin-top: 0px;
    font-size: 52px;
    margin-bottom: 40px;
    padding: 0px 0px 0px 99px;
    display: block;
    text-size-adjust: 100%;
    animation: fadein 6s;
    animation-timing-function: ease-in;
    line-height: 3;
    color: #404040;
    font-family: 'Raleway', sans-serif;
       
}




@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.expl-idea{
    width: 100%;   
    height: 400px;
    margin: 0px; 
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    background-image: url('../img/prueba20.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.idea-text {
    text-align: center;
    font-size: 39px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: block;
    line-height: 1.6;
} 



.logo-artnet {
    margin: 0px 0px 20px 0px;
    text-align: left;
    font-size: 38px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #202020;  
}

.web-img {
    padding: 40px 0px 0px 99px;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3; 
    display: flexbox;
    align-items: right;
    justify-content: right;
}

.web-artist-profile-img {
    margin-top: 50px;
    width: 60%;
    float: right;
    box-shadow:20px 20px 50px grey;
    

}

.description-text {
    margin: 100px 30px 0px 0px;
    font-size: 22px; 
    font-family: 'Raleway', sans-serif; 
    float: left;
    text-align: left;
    display: inline-block;
    line-height: 1.6;
}


.career {
    margin: 0px;
    width: 100%;
    height: 850px;
    background-color: #ffff;

}
.career-title {
    margin: 0px 99px 0px 0px;
    padding: 270px 0px 0px 0px; 
    text-align: right;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}



.career-text {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    margin: 20px 99px 0px 0px;
    display: block;
    text-align: right;
    font-size: 22px;
    line-height: 1.6;
}


.joboffer {  
    margin: 100px 0px 0px 99px;
    padding: 90px 0px 0px 0px;
    height: 500px; 
    float: left;
    display: inline-block;
    
}

.discussion {
    margin: 0px;
    padding: 40px 0px 0px 99px;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3; 
    background-image: url('../img/BI1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.discussion-title {
    margin: 0px;
    margin-top: 100px;
    padding: 0px 0px 0px 20px; 
    text-align: left;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    float: left;
    background-color: #f3f3f3;


    
     

}
.discussion-text {

    margin: 0px;
    padding: 20px 0px 0px 20px;
    font-size: 22px; 
    font-family: 'Raleway', sans-serif; 
    text-align: left;
    display: inline-block;
    line-height: 1.6;
    background-color: #f3f3f3;
    float: left;
    clear: left;

    

}

.join {
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.sign-up {
    margin: 50px 0px 0px 0px;
    padding: 25px 40px 25px 40px;
    background-color: #ffd000;
    text-decoration: none;
    color: #504e4b;
    border-radius: 9px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    box-shadow:2px 20px 50px grey; 
}

.join-text {
    margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Merrweather', sans-serif;
    background-color: #ffff;
    
}

.footer-info-landing {
    width: 100%;
    height: 100px;
    background-color: #504e4b;
    padding: 20px 99px 0px 99px;
    margin: 0px 0px -10px 0px;
    display: flex;
   
    
      
}
.footer-info-landing h1 {
    color: #c7c6c5;
    margin: 0px;
    text-align: left;
    font-family: 'Major Mono Display', monospace;
    padding: 10px 20px 10px 20px;
    display: inline-block;    

}

.footer-info-landing ul {
 
 list-style: none;
 text-decoration: none;
 margin: 0 auto;
 padding: 25px 20px 10px 20px;
 display: inline-block;
 
}

.footer-info-landing li {
    color: #c7c6c5;
    font-size: 15px;
    display: inline-block;
               
}

/* .footer-info-landing a { 
    display: inline;
    color: #c7c6c5;
    text-size-adjust: 100%;
    font-size: 17px; 
    margin: 0px;
    padding: 10px 15px 10px 15px;
    text-align: left;

}  */

.footer-info-landing a:hover {
    color: #111;
  }

.fb-icon {
    padding: 10px 20px 0px 0px;
    margin: 0px 0px -10px 0px;
       
}

.ig-icon {
    padding: 10px 20px 0px 0px;
    margin: 0px 0px -10px 0px;
   
}

.twit-icon {
    padding: 10px 20px 0px 0px;
    margin: 0px 0px -10px 0px;


}



