html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color:#ffff;
    color:#555555;
    font: normal 16 px Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    
}

.topnav {
    width: 100%;
    height: 55px;
    background-color: #333;
    box-shadow: 0 5px 5px -3px black;
    display: block;   
}

.topnav h1 {
    color: #ffff;
    float: left;
    margin: 0;
    padding: 5px 0px 0px 20px;
    
}

.topnav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: right;
}

.topnav a {
    
    display: block;
    color: #D1D7E0;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    
  }

 .topnav a:hover {
    color: #111;
  }

  

.artist-img {
    width: 170px;
    height: 170px;
    border-radius: 80%;
    margin: 15px;
    padding: 20px;

}

.artist-info-box {
    width: 240px;
    margin: 30px 0px 30px 20px;
    padding: 20px;
    text-align: center;
    
}

.artist-info-box h2, 
.artist-info-box p,
.artist-info-box p,
.artist-info-box a {
    text-align: center;
    margin: 0px;
    color: #19181A;
}

.artist-info-box h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.artist-info-box p {
    font-family: 'Raleway', sans-serif;
}

.artist-info-box a {
    font-family: 'Merriweather', serif;
}

p.statement {
    font-family: 'Source Sans Pro', sans-serif;
}
.artist-info-box {
    padding: 20px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #ffd000;
    width: 300px;
    border-radius: 9px;
}

.artist-info {
    background-image: url('../img/img-box1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    margin: 0 auto;
}


.gallery {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    
}

.gallery__item {
    display: inline-block;
    padding: 10px;
}

.gallery__img {
    height: 250px;
}

 
.footer-info {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 8px 10px 9px 10px;
    text-align: center;
    display: block;
}

.footer-info h1 {
    color: #333;
    margin: 0;
    padding: 5px 0px 0px 2px;    

}

.footer-info ul {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
   
}

.footer-info li {
    color: #333;
    font-size: 15px;
    padding-left: 19px;
    
}

.footer-info a {
    display: inline;
    color: #333;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    align-items: center;
    font-size: 17px;    
}

.scroll-to-top {
    text-align: right;
}

.back-to-top {
    color: #555;
    padding: 0px 20px 0px 0px;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    
}

.footer-info-landing a:hover {
    color: #111;
}
   


.footer-info-landing {
    width: 100%;
    height: 190px;
    background-color: #333;
    margin: 0px;
    padding: 10px 15px 10px 15px;
    text-align: left;
    display: block;
      
}
.footer-info-landing h1 {
    color: #ffff;
    margin: 0;
    padding: 5px 0px 0px 20px;    

}

.footer-info-landing ul {
 list-style: none;
 text-decoration: none;
 margin: 0px;
 padding: 0px;
 line-height: 2.5em;

}

.footer-info-landing li {
    color: #D1D7E0;
    font-size: 15px;
    padding-left: 19px;
    
}

.footer-info-landing a {
    display: inline;
    color: #ffff;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    align-items: center;
    font-size: 17px;    
}

.footer-info-landing a:hover {
    color: #111;
  }


.landing .topnav {
    
    width: 100%;
    height: 500px; 
    background-color: #333;
    display: block;
    box-shadow: none;

  
}
.landing .topnav h1 {
    margin: 0px 50px 0px 0px;
    padding: 40px 0px 0px 50px;
}

.landing .topnav a {
    color: #ffff; 
    font-size: 25x; 

}

.landing .topnav a:hover {
    color: #111;
  }

.landing .topnav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px 50px 0px 0px;
    padding: 40px 0px 0px 0px;
}

.landing .intro {
    margin: 0px 0px 0px 135px;
    padding-top: 90px;
    padding-bottom: 200px;
    display: block;

}

.landing .intro-led-in {
    margin-top: 0px;
    font-size: 49px;
    margin-bottom: 73px;
    display: block;
    text-size-adjust: 100%;
    transition-property: width;
    transition-duration: 5s;
    transition-delay: 2s;

}
/*.landing .intro {
    text-align: left;
    font-size: 40px;
    margin: 0px;
    padding-left: 40px;
    line-height: 70px;
    margin-top: 50px;
    display: block;
    text-size-adjust: 100%;
    font-weight: 500;
    color: #ffff;
    
}*/

/*.intro-p {
    text-align: left;
    font-size: 22px;
    margin: 0px;
    display: block;
    margin: 0px 0px 10px;
    max-width: 550px;;

}*/


.expl-idea{
    margin: 0px;
    width: 100%;
    height: 500px; 

}

.expl-idea .img-background {
    /*background-image: url('../img/newshape1.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;   
    height: 500px;
    margin: 0px;
    padding-top: 20px;
}

.web-img {
    margin: 0px;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3; 

}



.join {
    margin: 0px;
    width: 100%;
    height: 500px;
    background-color: #ffff;

}

